{
  "plugins": ["prettier-plugin-jinja-template", "prettier-plugin-sh"],
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 80
      }
    },
    {
      "files": "*.j2",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 80
      }
    },
    {
      "files": "*.yaml",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false
      }
    },
    {
      "files": "*.sh",
      "options": {
        "tabWidth": 4,
        "useTabs": false,
        "parser": "bash"
      }
    },
    {
      "files": ["Dockerfile", ".dockerignore"],
      "options": {
        "tabWidth": 4,
        "useTabs": false,
        "parser": "docker"
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "parser": "json"
      }
    }
  ]
}
